@import "base/variables";

@import "components/button";

@import "layouts/left-sidebar";
@import "layouts/main-layout";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}