.left-sidebar {
    &__logo {
        color: $color-primary;
        padding: $default-dimension;

        &:hover {
            background-color: lighten($color: $color-primary, $amount: 15);
            border-radius: 100px;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;

        &-item {
            padding: $default-dimension;
        }

        &-item:hover {
            background-color: lighten($color: $color-primary, $amount: 15);
            border-radius: 100px;
        }
    }

    &__tweet-box {

    }
}