.left-sidebar {
    &__logo {
        margin: 1rem 0 2rem 0;
    }

    &__list {
        list-style-type: none;
        padding: 0;

        &-item {
            margin-bottom: 2rem;
        }
    }

    &__tweet-box {
        margin-top: $large-dimension;
    }
}