.main-layout {
    width: 80%;
    margin: 0 auto;

    [class^='main-layout__'] {
        float: left;
    }

    &__left-side {
        width: 20%;
    }

    &__main {
        width: 50%;
        background-color: blue;
    }

    &__right-side {
        width: 30%;
        background-color: green;
    }
}