// Colors
$color-primary: #82B1FF;

$color-white: #fff;
$color-black: #000;
$color-grey: #777;

// Dimensions
$default-dimension: 0.8rem;
$medium-dimension: 1.6rem;
$large-dimension: 3.2rem;
$xlarge-dimension: 4.8rem;